<div class="container p-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="/estudiantes">
                        <h5 class="card-title">Mantenimiento Estudiantes</h5>
                        <img src="/img/estudiantes.png" alt="Estudiantes" class="img-fluid w-50 mt-2">
                    </a>
                    <div class="mt-4">
                        <a href="/estudiantes" class="btn btn-success">Ir a mantenimiento</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="/carreras">
                        <h5 class="card-title">Mantenimiento Carreras</h5>
                        <img src="/img/carreras.png" alt="Carreras" class="img-fluid w-50 mt-2">
                    </a>
                    <div class="mt-4">
                        <a href="/carreras" class="btn btn-success">Ir a mantenimiento</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="/materias">
                        <h5 class="card-title">Mantenimiento Materias</h5>
                        <img src="/img/materias.png" alt="Materias" class="img-fluid w-50 mt-2">
                    </a>
                    <div class="mt-4">
                        <a href="/materias" class="btn btn-success">Ir a mantenimiento</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="/profesores">
                        <h5 class="card-title">Mantenimiento Profesores</h5>
                        <img src="/img/profesores.png" alt="Profesores" class="img-fluid w-50 mt-2">
                    </a>
                    <div class="mt-4">
                        <a href="/profesores" class="btn btn-success">Ir a mantenimiento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="/grupos">
                        <h5 class="card-title">Mantenimiento Grupos</h5>
                        <img src="/img/grupos.png" alt="Grupos" class="img-fluid w-50 mt-2">
                    </a>
                    <div class="mt-4">
                        <a href="/grupos" class="btn btn-success">Ir a mantenimiento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>